* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ececec;
    box-shadow: -10px -10px 15px white,
                10px 10px 15px rgba(70, 70, 70, 0.13);
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.card .display {
    width: 100%;
    height: 30%;
    padding: 6px;
}

.display input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    text-align: right;
    font-size: 3rem;
    letter-spacing: 1.5px;
    border: none;
    background: transparent;
    box-shadow: inset -7px -7px 15px white,
                inset 7px 7px 15px rgba(70, 70, 70, 0.13);
    outline: none;
    border-radius: 5px;
}

.button-section {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 12%;
}

.btn {
    width: 45px;
    height: 45px;
    background: #ececec;
    border: 3px solid #ececec;
    border-radius: 50%;
    box-shadow: -7px -7px 15px white,
                7px 7px 15px rgba(70, 70, 70, 0.13);
    font-size: 1rem;
    font-weight: bold;
}

#row-1 .btn, .btn:last-child {
    color: rgb(16,128,183);
}

.btn:hover, #row-1 .btn:hover {
    color: rgb(46,128,31);
    box-shadow: -7px -7px 15px white,
                7px 7px 15px rgba(70, 70, 70, 0.13),
                inset -7px -7px 15px white,
                inset 7px 7px 15px rgba(70, 70, 70, 0.13);
}

@media only screen and (min-width: 600px) {
    .btn {
        width: 130px;
        height: 130px;
        font-size: 2.4rem;
        padding: 10px;
    }
}
